* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Hero {
  background-image: url('./img/hero.jpg');
  background-size: cover;
  min-height: 50vh;
  background-repeat: no-repeat;
  margin: 0;
}
input[type='switch'] {
  cursor: pointer;
}

.courseHeader {
  background-image: url('./img/Library.jpg');
  background-size: cover;
  min-height: 30vh;
  background-repeat: no-repeat;

  background-position: right 20px bottom 10px;
}
.pdf-container {
  width: 100%;
  height: 800px;
  background-color: #e4e4e4;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
