* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Hero {
  background-image: url('./img/hero.jpg');
  background-size: cover;
  min-height: 50vh;
  background-repeat: no-repeat;
  margin: 0;
}
input[type='switch'] {
  cursor: pointer;
}
.courseHeader {
  background-image: url('./img/Library.jpg');
  background-size: cover;
  min-height: 30vh;
  background-repeat: no-repeat;

  background-position: right 20px bottom 10px;
}

.activityIndicators {
  margin-top: -3rem;
}
@media only screen and (max-width: 600px) {
  .activitycards {
    display: inline-flex;
  }

  .activityIndicators {
    margin-top: 2rem;
  }
}
