* {
  font-family: 'Nunito', sans-serif;
}
:root {
  --primary-color: #0076c6;
  --blur: 10px;
}
body {
  margin: 0;
  color: black;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-primary {
  background-color: #005bac !important;
}
.activityIndicators {
  margin-top: -3rem !important;
}
@media only screen and (max-width: 600px) {
  .activitycards {
    display: inline-flex;
  }

  .activityIndicators {
    padding-top: 4rem;
  }
}
.pdf-container {
  width: 100%;
  height: 800px;
  background-color: #e4e4e4;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
